data/
data_local/
my-note.md

# .gitignore
.env
.env.local
.env.production
.env.monitoring

# Python
__pycache__/
*.pyc
*.pyo

# Thư mục lưu biểu đồ/ảnh
images/
/model_checkpoints
.user.yml
mlruns/

# Logs and runtime artifacts
build.log
airflow/logs/
artifacts/
