data/
data_local/delta_lake/
data_local/stream_checkpoint/
my-note.md

# .gitignore
.env
.env.local
.env.production
.env.monitoring

# Python
__pycache__/
*.pyc
*.pyo

# Thư mục lưu biểu đồ/ảnh
images/